<form [formGroup]="loginForm" (ngSubmit)="handleSubmit($event)"  method="post">
  <div class="container">
    <label for="username"><b>Azonosító</b></label>
    <input type="text" formControlName="id" placeholder="Adja meg az egyedi azonosítót" id="username" required minlength="6" maxlength="6">

    <label for="password"><b>Jelszó</b></label>
    <input type="password" formControlName="password" placeholder="Adja meg a jelszót" id="password" required>

    <button type="submit">Bejelentkezés</button>
  </div>
</form>
