/*input[type=text], input[type=password], input[type="number"], select, option {*/
/*  width: 100%;*/
/*  padding: 12px 20px;*/
/*  margin: 8px 0;*/
/*  display: inline-block;*/
/*  border: 1px solid #ccc;*/
/*  box-sizing: border-box;*/
/*  border-radius: 10px;*/
/*}*/

.form-container {
  background-color: ghostwhite;
  margin: auto;
  padding: 20px;
  border: 1px solid lightgray;
  width: 30%;
  text-align: center;
  border-radius: 10px;
}

mat-form-field {
  width: 550px;
}

button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

.button-color {
  background-color: #04AA6D !important;
  color: white !important;
  width: 300px;
}

button:hover {
  opacity: 0.8;
}

.container {
  padding-bottom: 50px;
}

/*form {*/
/*  background-color: #fefefe;*/
/*  margin: 1% auto 2% auto;*/
/*  border: 1px solid #888;*/
/*  width: 30%;*/
/*  border-radius: 10px;*/
/*}*/


@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


table {
  /*width: 100%;*/
  /*border-collapse: collapse;*/
  /*font-size: 1em;*/
  /*font-family: 'Arial', sans-serif;*/
  /*text-align: left;*/
  /*margin: 30px auto;*/

}

.table-container {
  width: 90%;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
}

.actions {
  width: 7% !important;
}

mat-paginator {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
  border-radius: 30px;

}

table mat-row:nth-child(1) {
  background-color: #cccccc;
  color: #333333;
  font-weight: bold;
}

table, table td {
  padding: 12px 15px;
  border: 1px solid #dddddd;
}

table tr:nth-child(even) {
  background-color: #f3f3f3;
}

table tr:nth-child(even):hover {
  background-color: #f1f1f1;
  color: black;
}

/* Páratlan sorok hover hatása kék */
table tr:nth-child(odd):hover {
  background-color: #f3f3f3;
  color: black;
}

@media screen and (max-width: 600px) {
  table {
    display: block;
    width: 100%;
  }

  table tr {
    display: block;
    margin-bottom: 10px;
  }

  table td {
    display: block;
    text-align: right;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    position: relative;
  }

  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }

  table tr:nth-child(1) td::before {
    display: none;
  }
}

h1 {
  text-align: center;
}


.vertical-table tr:first-child {
  background-color: white !important;
  font-weight: normal;

}

.vertical-table tr:first-child:hover {
  background-color: #f1f1f1 !important; /* Egy sötétebb árnyalat a hover állapothoz */
  color: #222222 !important;
  cursor: pointer;
}

.vertical-table {
  width: 50%;
  border-collapse: collapse;
  margin: auto;
  margin-top: 50px;
}

.vertical-table th,
.vertical-table td {
  padding: 10px;
  border: 1px solid #ddd;
  text-align: left;
}

.vertical-table th {
  background-color: #f2f2f2;
  font-weight: bold;
  width: 30%;
}

.vertical-table td {
  width: 70%;
}





html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
